/*      google fonts         */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Nixie One';
  font-style: normal;
  font-weight: 400;
  src: local('Nixie One'), local('NixieOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/nixieone/v4/gQ0PT3rPU_Et2ExNz-ahmrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

/* ------------------------- */

canvas {
    position: absolute;
    top: 0;
    z-index: -1000000;
}

#main-wrapper {
    width: 960px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

#small-head {
    font-size: 1.5em;
    background-image: url('../img/me1.png');
    background-repeat: no-repeat;
    background-position: center;
}

#small-head .divider {
    text-align: center;
}

#small-head .divider hr {
    width: 12em;
    margin-top: 1em;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#small-head .divider .left {
    float: left;
}

#small-head .divider .right {
    float: right;
}

#small-head a { 
    text-decoration: none; 
    color: black; 
    cursor: pointer;
}

#small-head h1 {
    text-align: center;
    font-family: 'Nixie One', georgia, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: inline;

    /* animate.css properties */
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 250ms;
    -vendor-animation-iteration-count: infinite;
    -moz-animation-duration: 3s;
    -moz-animation-delay: 250ms;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 250ms;
    -webkit-animation-iteration-count: infinite;

}

#small-head .links {
    margin-top: 225px;
    position: relative;
    left: -15px;
}

#small-head .links ul {
    text-align: center;
    font-size: 0.5em;
    font-family: georgia;
}

#small-head .links ul li {
    display: inline;
}

#small-head .links ul li a:hover {
    color: navy;
}

#small-head img {
    height: 165px;
    width: 165px;
}

#content {
    margin-top: 100px;
    position: relative;
}

#content hr {
    border: 0;
    border-top: 1px solid #999;
    margin: 0;
}

#content .content-block {
    margin-top: -5px;
    padding-top: 5px;
    overflow: hidden;
}

#content .content-block ul {
    overflow: hidden;
    margin: 0 auto;
    margin-top: 5px;
    padding: 0px 0px 15px 5px;
    list-style-type: none;
}

#content .content-block ul li {
    padding: 10px 4px 10px 4px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-align: center;
    width: 100%;
}

#content .content-block ul li a {
    display: block;
}

#content .content-block ul li a.multi {
    display: inline;
}

#content .content-block ul li:nth-child(odd){
    background-color: #F0F0F0;
}

#content .content-block .detail  { 
    float: left;
    border-right: 1px solid #999;
    padding: 0px 10px 75px 0;
    min-width: 50%;
}

#content .content-block .detail img {
    display: block;
    border: 1px solid #999;
    padding: 5px;
    margin: 0 auto;
}

#content .content-block .detail figcaption { 
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    padding-bottom: 15px;
}

#content .content-block .detail figcaption h3 { 
    font-weight: 300;
}

footer {
    position: absolute;
    bottom: -45px;
    right: 43%;
    text-align: center;
    font-size: 0.75em;
    font-family: georgia;
}

/*----------- ----------- ----------- ----------- ----------- ----------- ----------- */

/*      media queries to make page responsive (enough)      */
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    body, #main-wrapper {
        max-width: 320px;
    }

    #small-head {
        background-size: 50%;
        background-position: center center;
    }
    #small-head h1 {
        font-size: 1.5em;
    }

    .left, .right, #content .content-block ul {
        display: none;
    }

    #content {
        max-width: 320px;
        height: 100%;
        margin: 0 auto;
        float: none;
    }

    #content .content-block .detail {
        max-width: 320px;
        padding-bottom: 55px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0;
        border-right: 0;
        float: none;
    }

    img {
        max-width: 96%;
    }

    footer {
        position: static;
        margin: 0;
        padding: 0;
    }
}